@page "{errorCode}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@section CSS {
	<style>
		html, body {
			font-size: 110%;
			background: #37474F;
			height: 100%;
			color: #EEEEEE;
			text-align: center;
		}
	</style>
}

<div class="container pt-4 mt-4 bg-dark">
	<h1 class="text-danger">Errore.</h1>
	<h2 class="text-danger">@Model.errorString</h2>
</div>
