@page
@model MiraiAnimation.Pages.Users.OrderSuccessModel
@section CSS {
	<link rel="stylesheet" href="/css/successOrder.css" type="text/css">
}

<div id="container" class="container h-auto pt-4 mt-4 bg-dark">
	<span id="titolo">Ordine effettuato con successo</span> <br />

	<div class="row">
		<p style="display: inline-block; text-align: center">Per qualsiasi informazione contattaci via mail.</p>
	</div>
</div>