@page "{token?}/{id?}"
@model MiraiAnimation.Pages.Users.ResetPasswordModel
@section CSS{
    <link rel="stylesheet" href="/css/resetPassword.css" type="text/css">
}

<div id="container" class="container pt-4 mt-4 bg-dark pb-2">
    <div class="row d-flex align-items-center justify-content-center">
        @if (Model.Succeeded) {
        <p>Password modificata con successo</p>
        } else {
            <form asp-page-handler="Reset">
                <input type="hidden" name="id" value="@Model.Id">
                <label for="oldPassword">Vecchia password:</label>
                <input type="password" name="oldPassword"><br />
                <label for="newPassword">Nuova password:</label>
                <input type="password" name="newPassword"><br />
                <label for="newPassword2">Ripeti nuova password:</label>
                <input type="password" name="newPassword2"><br />
                <input type="submit">
            </form>
            <p></p>
        }
    </div>
</div>