@page
@model MiraiAnimation.Pages.Admin.ManageUserModel
@section CSS{
	<link rel="stylesheet" href="/css/manageUser.css" type="text/css">
}

@using MiraiAnimation.Model;

<div id="container" class="container pt-4 mt-4">
	<div class="accordion" id="accordionUser">
		<!-- Edit -->
		<div class="card bg-dark">
			<div class="card-header bg-light" id="headingEdit">
				<h2 class="mb-0">
					<button class="btn btn-light btn-block text-left" type="button" data-toggle="collapse" data-target="#edit" aria-expanded="true" aria-controls="edit">
						Modifica un utente
					</button>
				</h2>
			</div>

			<div id="edit" class="collapse show" aria-labelledby="headingEdit" data-parent="#accordionUser">
				<div class="card-body bg-dark">
					<form id="editForm" name="editForm" asp-page-handler="Edit" onsubmit="return checkEditForm()">
						<span>Utente: </span>
						<select name="id" onchange="loadUser()">
							<option value="" disabled selected>Seleziona un'opzione</option>
							@foreach (User user in Model.Users) {
								<option value="@user.id">@user.username</option>
							}
						</select>
						<span class="error" id="errorUserEdit"></span>

						<div class="py-2" id="userDiv">
							<label asp-for="User.username">Username:</label>
							<input type="text" asp-for="User.username"><br />
							<span class="error" asp-validation-for="User.username"></span><br/>

							<label asp-for="User.password">Password:</label> 
							<input type="password" asp-for="User.password"><br />
							<span class="error" asp-validation-for="User.password"></span>

							<label asp-for="User.email">E-mail:</label>
							<input type="text" asp-for="User.email"><br />
							<span class="error" asp-validation-for="User.email"></span><br/>

							<label asp-for="User.nome">Nome:</label>
							<input type="text" asp-for="User.nome"><br />
							<span class="error" asp-validation-for="User.nome"></span><br/>

							<label asp-for="User.cognome">Cognome:</label>
							<input type="text" asp-for="User.cognome"><br />
							<span class="error" asp-validation-for="User.cognome"></span><br />

							<label asp-for="User.dataNascita">Data di nascita:</label>
							<input type="text" asp-for="User.dataNascita"><br />
							<span class="error" asp-validation-for="User.dataNascita"></span><br />

							<label>Indirizzo:</label><br />
							<label asp-for="User.indirizzo.città">Città:</label>
							<input type="text" asp-for="User.indirizzo.città"><br />
							<span class="error" asp-validation-for="User.indirizzo.città"></span><br />

							<label asp-for="User.indirizzo.via">Via:</label>
							<input type="text" asp-for="User.indirizzo.via"><br />
							<span class="error" asp-validation-for="User.indirizzo.via"></span><br />

							<label asp-for="User.indirizzo.CAP">CAP:</label>
							<input type="text" asp-for="User.indirizzo.CAP"><br />
							<span class="error" asp-validation-for="User.indirizzo.CAP"></span><br />

							<span id="tipo" class="bold">Tipo:</span> <br />
							<input type="radio" asp-for="User.tipo" value="utente"> Utente <br />
							<input type="radio" asp-for="User.tipo" value="admin"> Amministratore <br />
							<span class="error" id="errorTipo" asp-validation-for="User.tipo"></span>


							<input type="submit" value="Conferma"> <br />
						</div>
					</form>
					<span class="error"></span><br />
				</div>
			</div>
		</div>

		<!-- Delete -->
		<div class="card bg-dark">
			<div class="card-header bg-light" id="headingDelete">
				<h2 class="mb-0">
					<button class="btn btn-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#delete" aria-expanded="false" aria-controls="delete">
						Cancella un utente
					</button>
				</h2>
			</div>
			<div id="delete" class="collapse" aria-labelledby="headingDelete" data-parent="#accordionUser">
				<div class="card-body bg-dark">
					<form id="deleteForm" name="deleteForm" asp-page-handler="Delete" onsubmit="return checkDelForm()">
						<select name="id">
							<option value="" disabled selected>Seleziona un'opzione</option>
							@foreach (User user in Model.Users) {
								<option value="@user.id">@user.username</option>
							}
						</select>
						<span class="error" id="errorDel"></span>
						<input type="submit" value="Conferma"> <br />
					</form>
					<span></span><br />
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="/js/manageUser.js"></script>
}