@page
@model MiraiAnimation.Pages.Admin.ManageAnimationModel
@section CSS {
	<link rel="stylesheet" href="/css/animManager.css" type="text/css">
}

@using MiraiAnimation.Model;

<div id="container" class="container pt-4 mt-4">
	<div class="accordion" id="accordionAnim">
		<div class="card bg-dark">
			<div class="card-header bg-light" id="headingEdit">
				<h2 class="mb-0">
					<button class="btn btn-light btn-block text-left" type="button" data-toggle="collapse" data-target="#edit" aria-expanded="true" aria-controls="edit">
						Modifica un'animazione
					</button>
				</h2>
			</div>

			<div id="edit" class="collapse show" aria-labelledby="headingEdit" data-parent="#accordionAnim">
				<div class="card-body bg-dark">
					<form id="animation" asp-page-handler="Edit" enctype="multipart/form-data" onsubmit="return checkInsertEditForm(this)">
						<span>Animazione:</span>
						<select name="codiceAnimazione" onchange="loadAnim()">
							<option value="" disabled selected>Seleziona un'opzione</option>
							@foreach(Animation anim in Model.Animations) {
								<option value="@anim.id">@anim.titolo</option>
							}
						</select>

						<div id="anim" class="pt-2">
							<input type="hidden" asp-for="Anim.id" value="">
							<label asp-for="Anim.titolo">Titolo:</label> 
							<input id="titoloEdit" type="text" asp-for="Anim.titolo" required> <br />
							<span class="error errorNome" asp-validation-for="Anim.titolo"></span><br />

							<label asp-for="Anim.genere">Genere: </label> 
							<input type="text" id="genereEdit" asp-for="Anim.genere" required> <br />
							<span class="error errorGenere" asp-validation-for="Anim.genere"></span><br />

							<span>Tipo:</span>
							<input type="radio" id="serieEdit" asp-for="Anim.tipo" value="serie" required> Serie
							<input type="radio" id="filmEdit" asp-for="Anim.tipo" value="film" required> Film <br />
							<span class="error errorUscita" asp-validation-for="Anim.tipo"></span>
							<br />

							<label asp-for="Anim.dataUscita">Data d'uscita:</label>
							<input type="text" id="dataEdit" asp-for="Anim.dataUscita"><br />
							<span class="error errorUscita" asp-validation-for="Anim.dataUscita"></span>
							<br />

							<label>Immagine: <input type="file" name="immagine"></label>
							<br />

							<input type="submit"> <br />
						</div>
						<p> </p>
					</form> <br />
				</div>
			</div>
		</div>

		<div class="card bg-dark">
			<div class="card-header bg-light" id="headingInsert">
				<h2 class="mb-0">
					<button class="btn btn-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#insert" aria-expanded="false" aria-controls="insert">
						Aggiungi un'animazione
					</button>
				</h2>
			</div>
			<div id="insert" class="collapse" aria-labelledby="headingInsert" data-parent="#accordionAnim">
				<div class="card-body bg-dark">
					<form id="addAnim" asp-page-handler="Add" enctype="multipart/form-data" onsubmit="return checkInsertEditForm(this)">
						<label asp-for="Anim.titolo">Titolo:</label>
						<input id="titoloAdd" type="text" asp-for="Anim.titolo" required> <br />
						<span class="error errorNome" asp-validation-for="Anim.titolo"></span><br />

						<label asp-for="Anim.genere">Genere: </label>
						<input type="text" id="genereAdd" asp-for="Anim.genere" required> <br />
						<span class="error errorGenere" asp-validation-for="Anim.genere"></span><br />

						<span>Tipo:</span>
						<input type="radio" id="serieAdd" asp-for="Anim.tipo" value="serie" required> Serie
						<input type="radio" id="filmAdd" asp-for="Anim.tipo" value="film" required> Film<br />
						<span class="error errorUscita" asp-validation-for="Anim.tipo"></span>
						<br />

						<label asp-for="Anim.dataUscita">Data d'uscita:</label>
						<input type="text" id="dataAdd" asp-for="Anim.dataUscita"><br />
						<span class="error errorUscita" asp-validation-for="Anim.dataUscita"></span>
						<br />

						<label>Immagine: <input type="file" name="immagine"></label>
						<br />

						<input type="submit"> <br />
						<p></p>
					</form>
				</div>
			</div>
		</div>
		<div class="card bg-dark">
			<div class="card-header bg-light" id="headingDelete">
				<h2 class="mb-0">
					<button class="btn btn-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#delete" aria-expanded="false" aria-controls="delete">
						Cancella un'animazione
					</button>
				</h2>
			</div>
			<div id="delete" class="collapse" aria-labelledby="headingDelete" data-parent="#accordionAnim">
				<div class="card-body bg-dark">
					<form name="del" asp-page-handler="Delete" method="post">
						<span>Animazione: </span>
						<select name="id">
							<option value="" disabled selected>Seleziona un'opzione</option>
							@foreach(Animation anim in Model.Animations) {
								<option value="@anim.id">@anim.titolo</option>
							}
						</select>
						<span class="error" id="errorDel"></span>
						<input class="ml-2" type="submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="/js/animManager.js"></script>
}