@page
@model MiraiAnimation.Pages.Admin.ManageStaffModel
@section CSS{
    <link rel="stylesheet" href="/css/manageStaff.css" type="text/css">
}

@using MiraiAnimation.Model;

<div id="container" class="container pt-4 mt-4">
    <div class="accordion" id="accordionStaff">
        <!-- Edit -->
        <div class="card bg-dark">
            <div class="card-header bg-light" id="headingEdit">
                <h2 class="mb-0">
                    <button class="btn btn-light btn-block text-left" type="button" data-toggle="collapse" data-target="#edit" aria-expanded="true" aria-controls="edit">
                        Modifica un personale
                    </button>
                </h2>
            </div>

            <div id="edit" class="collapse show" aria-labelledby="headingEdit" data-parent="#accordionStaff">
                <div class="card-body bg-dark">
                    <form name="editStaff" id="editStaff" asp-page-handler="Edit" onsubmit="return checkEditForm()">

                        <span>Personale: </span>
                        <select name="id" onchange="loadStaff()">
                            <option value="" disabled selected>Seleziona un'opzione</option>
                            @foreach (Staff staff in Model.Staffs) {
                                <option value="@staff.id">@(staff.nome + " " + staff.cognome + " | " + staff.ruolo)</option>
                            } 
                        </select> <br />

                        <div class="py-2" id="staff">
                            <label asp-for="Staff.nome">Nome:</label> 
                            <input id="nomeEdit" type="text" asp-for="Staff.nome" required> <br />
                            <span class="error" asp-validation-for="Staff.nome"></span>

                            <label asp-for="Staff.cognome">Cognome:</label>
                            <input id="cognomeEdit" type="text" asp-for="Staff.cognome" required> <br />
                            <span class="error" asp-validation-for="Staff.nome"></span>

                            <label asp-for="Staff.anniServizio">Anni servizio:</label>
                            <input id="anniEdit" type="number" class="anni" asp-for="Staff.anniServizio" min="0" required></label> <br />
                            <span class="error" id="errorAnniEdit" asp-validation-for="Staff.anniServizio"></span>

                            Ruolo: 	<br />
                            <input id="direttoreEdit" type="radio" asp-for="Staff.ruolo" value="Direttore" required> Direttore <br />
                            <input id="tecnicoEdit" type="radio" asp-for="Staff.ruolo" value="Staff tecnico" required> Staff Tecnico <br />
                            <input id="registaEdit" type="radio" asp-for="Staff.ruolo" value="Regista" required> Regista <br />
                            <span class="error" id="errorRuoloEdit" asp-validation-for="Staff.ruolo"></span>

                            <input class="mt-2" type="submit"> <br />
                        </div>
                    </form>
                    <span class="error"></span><br />
                </div>
            </div>
        </div>

        <!-- Add -->
        <div class="card bg-dark">
            <div class="card-header bg-light" id="headingInsert">
                <h2 class="mb-0">
                    <button class="btn btn-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#insert" aria-expanded="false" aria-controls="insert">
                        Inserisci un personale
                    </button>
                </h2>
            </div>
            <div id="insert" class="collapse" aria-labelledby="headingInsert" data-parent="#accordionStaff">
                <div class="card-body bg-dark">
                    <form name="insertStaff" id="insertStaff" asp-page-handler="Add" onsubmit="return checkInsertForm()">

                        <label asp-for="Staff.nome">Nome:</label>
                        <input id="nomeAdd" type="text" asp-for="Staff.nome" required> <br />
                        <span class="error" asp-validation-for="Staff.nome"></span>

                        <label asp-for="Staff.cognome">Cognome:</label>
                        <input id="cognomeAdd" type="text" asp-for="Staff.cognome" required> <br />
                        <span class="error" asp-validation-for="Staff.nome"></span>

                        <label asp-for="Staff.anniServizio">Anni servizio:</label>
                        <input id="anniAdd" type="number" class="anni" asp-for="Staff.anniServizio" min="0" required></label> <br />
                        <span class="error" id="errorAnniAdd" asp-validation-for="Staff.anniServizio"></span>

                        Ruolo: 	<br />
                        <input id="direttoreAdd" type="radio" asp-for="Staff.ruolo" value="Direttore" required> Direttore <br />
                        <input id="tecnicoAdd" type="radio" asp-for="Staff.ruolo" value="Staff tecnico" required> Staff Tecnico <br />
                        <input id="registaAdd" type="radio" asp-for="Staff.ruolo" value="Regista" required> Regista <br />
                        <span class="error" id="errorRuoloAdd" asp-validation-for="Staff.ruolo"></span>

                        <input class="mt-2" type="submit"> <br />
                    </form>
                    <span class="error"></span><br />
                </div>
            </div>
        </div>

        <!-- Delete -->
        <div class="card bg-dark">
            <div class="card-header bg-light" id="headingDelete">
                <h2 class="mb-0">
                    <button class="btn btn-light btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#delete" aria-expanded="false" aria-controls="delete">
                        Cancella un membro del personale
                    </button>
                </h2>
            </div>
            <div id="delete" class="collapse" aria-labelledby="headingDelete" data-parent="#accordionStaff">
                <div class="card-body bg-dark">
                    <form id="deleteStaff" asp-page-handler="Delete">
                        <span>Personale: </span>
                        <select name="id">
                            @foreach (Staff staff in Model.Staffs) {
                                <option value="@staff.id"> @(staff.nome + " " + staff.cognome + " | " + staff.ruolo)</option>
                            }
                        </select>
                        <input class="ml-2" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/manageStaff.js"></script>
}