@charset "UTF-8";

html, body{
	font-size: 110%;
	background: #37474F;
	height: 100%;
	color: #EEEEEE;
}

.bold{
	font-weight: bold;
	margin: 0;
	padding: 0 0 10px 0;
	display: inline-block;
}

input[type=submit]{
	margin-top: 10px;
	cursor: pointer;
}

input[type=submit]:hover{
	color: green;
	transition: all 0.3s;
}
input{
	border-radius: 25px;
}

#userDiv {
	display: none;
}